body.gray{
  background: #efefef !important;
}

.list {
    margin-top: 1rem;
    


    .item {
      padding: 0.2rem;
      position: relative;
      /*border-radius: 0.1rem;*/
      background: #fff;
      margin-top: 0.1rem;
      border-bottom: 1px solid rgb(244,244,244);
      overflow: hidden;
      img{
        display: inline-block;
        width: 2.1rem;
        height: 2.7rem;
      }
    }

    /*.item img {
      
    }*/

    .info {
      display: inline-block;
      vertical-align: top;
      font-size:0.22rem;
      margin-left: 0.2rem;
      /*max-width: 60%*/
      max-width: 3.8rem;
    }

    .name {
      font-size: 0.32rem;
      color:#333;
      font-weight: bold;
      /*margin-top: 0.1rem;*/
      padding: 0.1rem 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .no {
      margin-top: 0.1rem;
      color: #999;
      line-height: 0.3rem;
    }

    .category {
      color: #999;
      line-height: 0.3rem;
    }

    .expire {
      color: #999;
      line-height: 0.3rem;
    }

    .desc {
      /*width: 80%;*/
      margin-top: 0.1rem;
      color: #666;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      line-height: 0.3rem;

    }
    .item_fr{
      position: absolute;
      right: 0.2rem;
      top: 0.2rem;
    }

    .btn-favorite {
      display: block;
      background: #fe8346;
     /* position: absolute;*/
      width: 1rem;
      height: 0.3rem;
      line-height: 0.3rem;
      text-align: center;
      color: #fff;
      font-size: 0.18rem;
      border-radius:0.05rem;
     /* right: 0.2rem;
      top: 0.2rem;*/
    }
    .btn-freeze {
      display: block;
     /* position: absolute;
      width: 1rem;
      height: 0.3rem;*/
      /*line-height: 0.33rem;
      text-align: center;
      font-weight: bold;*/
      font-size: 0.18rem;
      border-radius:0.05rem;
      text-align: center;
      margin-top: 0.1rem;
      /*right: 0.2rem;
      top: 0.6rem;*/
      /*border: 0.01rem solid rgb(244,244,244);*/
    }
    .btn-favorite.on {
      background: #ccc;
    }
    .price {
      color: #f52e2e;
      margin-top: 0.1rem;
      border-bottom: 0.01rem solid rgb(244,244,244);
      line-height: 0.4rem;
      font-size: 0.28rem;
    }


}